Latex/0main.log
Latex/0main.aux
Latex/0main.out
Latex/0main.toc
Latex/0main.synctex.gz
Latex/1AnalisisCinDin.aux
Latex/2EstimacParam.aux
Latex/3ControlCinem.aux
Latex/4ControlDinamic.aux
Latex/5AnexosConclusiones.aux
Latex/0main.synctex.gz
Latex/EstimacParam.aux
Latex/AnalisiDinamico.aux
Latex/AnalisisCinDin.aux
Latex/AnexosConclusiones.aux
Latex/ControlCinem.aux
Latex/ControlDinamic.aux
Latex/0main.fdb_latexmk
Latex/0main.fls
Latex/.vscode/settings.json

pruebas.asv
DatosSimAcDir_Exp.asv
Latex/.vscode/settings.json
sl_RobotReal_RRR.slx.autosave
Latex/AnalisiDinamico.fls
Latex/AnalisiDinamico.log
Latex/AnalisiDinamico.fdb_latexmk
